h1 {
    font-size: 5em;
    padding: 15px 0;
    text-align: center;
    color: #dfd9d3;
}

h2 {
    font-size: 3em;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 0 10px 100px;
    color: #dfd9d3;
}

ul {
    padding: 10px 50px;
}

a {
    text-align: center;
    margin: 40px 0px;
    padding: 25px 40px;
    width: 300px;
    background-color: #0e0d0d;
    color: white;
    font-size: 2em;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
}

i {
    padding: 10px;
}

img {
    width: 300px;
}

.flex {
    display: flex;
}

.around {
    justify-content: space-around;
}

.center {
    justify-content: center
}

.padding {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.padding {
    padding: 20px 0;
}



.rules {
    font-size: 1.5em;
    padding-left: 50px;
    color: #dfd9d3;
}

.body {
    background-image: url(../img/dark-fantasy.png);
    background-repeat: no-repeat;
    background-size:110% ;
    /* background-color:lightslategray; */
}